* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    padding: 40px;
}

p {
    font-size: 22px;
    padding-left: 20px;
}
